<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/styles.css" media="screen" title="no title" charset="utf-8">

    <script src="https://code.jquery.com/jquery.js"></script>
    <!--js files will go here-->

</head>

<body>




</body>

</html>