<div id="cart">
    <div class="container-custom">
        <div>
            <!-- (main) NAV BAR --->

            <!-- NAV BAR: all, recent & conversations -->

            <div id="box">
                <div id="cart-box">
                    <h3>Ryobi 15 Amp 10' Table Saw</h3>
                    <h5>Category Saws > Table Saws</h5>
                    <h5>Listed Price:</h5>
                    <h5>$75 per day</h5>
                    <!-- buttons-->
                    <a href="/" id="btn-save" class="primary-btn">Save as a draft</a>
                    <a href="/" id="btn-edit" class="primary-btn">Edit item</a>
                    <a href="/" id="btn-view" class="primary-btn">View item</a>
                    <br>


                    <h3>Ryobi 15 Amp 10' Table Saw</h3>
                    <h5>Category Saws > Table Saws</h5>
                    <h5>Listed Price:</h5>
                    <h5>$75 per day</h5>
                    <!-- buttons-->
                    <a href="/" id="btn-save" class="primary-btn">Save as a draft</a>
                    <a href="/" id="btn-edit" class="primary-btn">Edit item</a>
                    <a href="/" id="btn-view" class="primary-btn">View item</a>
                    <br>


                    <h3>Ryobi 15 Amp 10' Table Saw</h3>
                    <h5>Category Saws > Table Saws</h5>
                    <h5>Listed Price:</h5>
                    <h5>$75 per day</h5>
                     <!-- buttons-->
                    <a href="/" id="btn-save" class="primary-btn">Save as a draft</a>
                    <a href="/" id="btn-edit" class="primary-btn">Edit item</a>
                    <a href="/" id="btn-view" class="primary-btn">View item</a>
                    <br>


                    <h3>Ryobi 15 Amp 10' Table Saw</h3>
                    <h5>Category Saws > Table Saws</h5>
                    <h5>Listed Price:</h5>
                    <h5>$75 per day</h5>
                     <!-- buttons-->
                    <a href="/" id="btn-save" class="primary-btn">Save as a draft</a>
                    <a href="/" id="btn-edit" class="primary-btn">Edit item</a>
                    <a href="/" id="btn-view" class="primary-btn">View item</a>
                    <br>

                </div>
            </div>

        </div>
    </div>
</div>