<div id="items3">
    <div class="container-custom">
        <div>
            <!-- (main) NAV BAR --->

            <!-- NAV BAR: all, recent & conversations -->

            <div id="box">
                <div id="items3-box">


                </div>
            </div>




        </div>
    </div>
</div>