.signIn {
    font-size: xx-small;
    align-content: center;
}

.signIn-shadow {
    box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.25);
    border: none;
}

.sign-image {
    width: 125px;
}

.head {
    background-color: lightgray;
}